@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url("https://images.pexels.com/photos/261679/pexels-photo-261679.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-size: 16px;
}

h1, p {
    text-align: center;
}

form {
    padding: 10px;
    border-radius: 6px;
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
    background: #138376;
}
label{
    display: inline-block !important;
    margin:  0.5rem 0;
  }
  
  textarea::placeholder{
    color: #000;
  }
  
  input[type=text],input[type=email],input[type=password], select{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    padding: 3px;
    border: 3px solid #fff;
  }
  input[type=submit]{
  background-color: #afdeb3;
  color: #fff;
  padding: 3px;
  height: 35px;
  width: 100%;
  border-radius: 5px;
  }
  textarea{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    padding: 3px;
    border: 3px solid #afb49a2c;
  }
  fieldset{
    border: none;
    padding: 1em;
    border-bottom: 2px solid #0b0b6f;
  
  }
  
  fieldset:last-of-type{
    border-bottom: none;
  }
